
LAB3/Sprawko.aux
LAB3/Sprawko.fdb_latexmk
LAB3/Sprawko.fls
LAB3/Sprawko.synctex.gz
LAB3/Sprawko.log
LAB3/test.m
LAB3/Sprawko/testtt.m
LAB3/Sprawko/Sprawko.log
LAB3/Sprawko/Sprawko.fls
LAB3/Sprawko/Sprawko.aux
LAB3/Sprawko/Sprawko.fdb_latexmk
LAB3/Sprawko/Sprawko.synctex.gz
LAB3/Sprawko1/Sprawko1.synctex.gz
LAB3/Sprawko1/Sprawko1.synctex(busy)
LAB3/Sprawko1/Sprawko1.log
LAB3/Sprawko1/Sprawko1.fls
LAB3/Sprawko1/Sprawko1.fdb_latexmk
LAB3/Sprawko1/Sprawko1.aux
LAB5/Sprawko3/slprj/sim/varcache/model_1/checksumOfCache.mat
LAB5/Sprawko3/slprj/sim/varcache/model_1/tmwinternal/simulink_cache.xml
LAB5/Sprawko3/slprj/sim/varcache/model_1/varInfo.mat
LAB5/slprj/sim/varcache/model_1/varInfo.mat
LAB5/slprj/sim/varcache/model_1/tmwinternal/simulink_cache.xml
LAB5/slprj/sim/varcache/model_1/checksumOfCache.mat
LAB5/Sprawko3/model_1.slxc
LAB5/model_1.slxc
LAB5/Sprawko3/graph_1.fig
LAB5/Sprawko3/sprawko4.aux
LAB5/Sprawko3/sprawko4.fdb_latexmk
LAB5/Sprawko3/sprawko4.log
LAB5/Sprawko3/sprawko4.fls
LAB5/Sprawko3/sprawko4.synctex.gz
LAB5/Sprawko3/testtttttttttttttttttttttttttttttttttttt.m
LAB5/Sprawko3/model_1.slx.autosave
*.asv
LAB6/slprj/sim/varcache/lab6_1_sim/tmwinternal/simulink_cache.xml
LAB6/slprj/sim/varcache/lab6_1_sim/checksumOfCache.mat
LAB6/slprj/sim/varcache/lab6_1_sim/varInfo.mat
*.slxc
LAB6/Sprawko4/Skrypt/testt.slx.autosave
LAB6/Sprawko4/Skrypt/testt.slx.autosave
